<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #productForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="product.name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter your name"
            required #name="ngModel">
        </div>
        <div [hidden]="!product.name" class="alert alert-danger">Name is required</div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" [(ngModel)]="product.price" 
            class="form-control" 
            id="price" 
            name="price" 
            placeholder="Enter product price"
            required #email="ngModel">
          <div [hidden]="!product.price" class="alert alert-danger">Price is required</div>
        </div>
        <button type="submit" [disabled]="!productForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>